.has-error .form-control {
    -webkit-box-shadow: 1px 0px 15px 1px rgba(189,7,7,1);
-moz-box-shadow: 1px 0px 15px 1px rgba(189,7,7,1);
box-shadow: 1px 0px 15px 1px rgba(189,7,7,1);
}
 .form-control:focus{
	-webkit-box-shadow: 1px 0px 15px 1px rgba(7,168,189,1);
-moz-box-shadow: 1px 0px 15px 1px rgba(7,168,189,1);
box-shadow: 1px 0px 15px 1px rgba(7,168,189,1);
}