<ion-view title="Change Password" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="changePassword-form3" class="list ">
			<div ng-hide="provider == 'app.resetpass'">
				<label class="item item-input " id="signUp2-input18" name="lName">
					<span class="input-label">Email/phone</span>
					<input type="text" placeholder="email/phone">
				</label> </br>
				<button id="changePassword-button3" class=" button button-positive  button-block ">Send OTP</button> 
			</div>
			</br>
			<div ng-hide="provider == 'app.resetpass'">
				<label class="item item-input " id="signUp2-input18" name="lName">
					<span class="input-label">Enter OTP</span>
					<input type="text" placeholder="otp" maxlength=4>
				</label>
			</div>
			<div ng-hide="provider == 'otp' || provider == 'forgotpass'">
				<label class="item item-input " id="changePassword-input5" name="OldPwd">
					<span class="input-label">Old Pwd</span>
					<input type="password" placeholder="Password">
				</label>
			</div>
			<div ng-hide="provider == 'otp'">
				<label class="item item-input " id="changePassword-input6" name="NewPwd">
					<span class="input-label">New Pwd</span>
					<input type="password" placeholder="Password">
				</label>
				<label class="item item-input " id="changePassword-input7" name="Confirm">
					<span class="input-label">Confirm</span>
					<input type="password" placeholder="Password">
				</label>												
			</div>
        </form>
        <button id="changePassword-button3" class=" button button-positive  button-block ">Done</button>
    </ion-content>
</ion-view>