<ion-view title="Login Page" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="loginPage-form1" class="list ">
            <label class="item item-input " id="loginPage-input8" name="Email">
                <span class="input-label">Email/Phone</span>
                <input type="text" placeholder="Email" ng-model = "$parent.spEmailOrPhone" ng-blur = "feildCheck()">
            </label>
            <label class="item item-input " id="loginPage-input2" name="Pwd">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model = "servPro.password">
            </label>
        </form>
		<a href="#/signup"> Sign Up </a> </br>
		<a href="#/forgotpass"> Forgot Password? </a> 
        <button id="loginPage-button1" class=" button button-positive  button-block" ng-click="login()">Login</button>
    </ion-content>
</ion-view>