<ion-view title="Login Page" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="loginPage-form1" name="loginForm" class="form-horizontal" >
            <label class="item item-input " id="loginPage-input8" name="Email">
                <span class="input-label">Email/Phone</span>
                <input 
				type="text" 
				name="Email/Phone"
				placeholder="Email" 
				class = "form-control"
				ng-model = "$parent.spEmailOrPhone" 
				ng-blur = "feildCheck()"
				required-message = "'This is required'"				
				required> 
            </label>
            <label class="item item-input " id="loginPage-input2" name="Pwd">
                <span class="input-label">Password</span>
                <input 
				type="password"
				placeholder="Password" 
				class = "form-control"
				ng-model = "servPro.password"
				ng-maxlength = "16">
            </label>
			
        </form>
		<button id="loginPage-button1" class=" button button-positive  button-block">Login</button>
		<a href="#/signup"> Sign Up </a> </br>
		<a href="#/forgotpass"> Forgot Password? </a> 
        
    </ion-content>
</ion-view>