<ion-view title="Sign Up" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signUp-form2" class="list ">
            <label class="item item-input " id="signUp-input3" name="fName">
                <span class="input-label">fName</span>
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input " id="signUp-input10" name="lName">
                <span class="input-label">lName</span>
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input " id="signUp-input11" name="lName">
                <span class="input-label">Email</span>
                <input type="email" placeholder="email">
            </label>
            <label class="item item-input " id="signUp-input12" name="phone">
                <span class="input-label">Phone</span>
                <input type="tel" placeholder="Phone">
            </label>
            <label class="item item-input " id="signUp-input4">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password">
            </label>
            <label class="item item-input " id="signUp-input13" name="ConfirmPassword">
                <span class="input-label">Confirm Password</span>
                <input type="password" placeholder="Password">
            </label>
        </form>
		<!--<a href="#/login"> Login </a>-->
        <button id="signUp-button2" class=" button button-positive  button-block " ng-click= "signup()">Sign Up</button>
    </ion-content>
</ion-view>